.g-table {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex: 1;
    max-width: 100%;
    font-size: 14px;
    color: $base-col;
    thead {
        font-weight: 500;
        color: $routine-col;
    }
    th, tr {
        background-color: $base-bg;
    }
    td, th.is-leaf {
        line-height: 26px;
        border-bottom: 1px solid $base-bd;
    }
    td, th {
        position: relative;
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        text-align: left;
    }
    .cell {
        overflow: hidden;
        padding-right: 10px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        line-height: 26px;
    }
    .g-table__empty-block {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        font-size: 12px;
        color: $base-disabled-col;
    }
    .g-table__row.hover-row {
        background-color: $hover-bg;
    }
}
.g-table.g-table--small {
    td, th {
        padding: 8px 0;
        font-size: 13px;
    }
}
.g-table.g-table--mini {
    td, th {
        padding: 2px 0;
        font-size: 12px;
    }
}
.g-table--fit {
    border-right: 0;
    border-bottom: 0;
}
.g-table__header-wrapper, .g-table__body-wrapper, .g-tablee__footer-wrapper {
    width: 100%;
}
.g-table__header-wrapper, .g-tablee__footer-wrapper {
    overflow: hidden;
}
.g-table__header, .g-table__body, .g-table__footer {
    table-layout: fixed;
    border-collapse: separate;
}
col {
    display: table-column;
}
.g-table__body-wrapper {
    position: relative;
}
.g-table .cell, .g-table--border td:first-child .cell, .g-table--border th:first-child .cell {
    padding-left: 10px;
}
.g-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}
.g-table--border::after, .g-table--group::after, .g-table::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: $base-bd;
}

// fixed
.g-table__fixed, .g-table__fixed-right {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.g-table__fixed-right {
    top: 0;
    left: auto;
    right: 0;
}
.g-table--fluid-height .g-table__fixed, .g-table--fluid-height .g-table__fixed-right {
    bottom: 0;
    overflow: hidden;
}
.g-table__fixed-header-wrapper {
    position: absolute;
    z-index: 3;
}
.g-table__fixed-body-wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 3;
}
.g-table__fixed-right::before, .g-table__fixed::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $base-bd;
    z-index: 4;
}
.g-table__body-wrapper.is-scrolling-left~.g-table__fixed, .g-table__body-wrapper.is-scrolling-none~.g-table__fixed, .g-table__body-wrapper.is-scrolling-none~.g-table__fixed-right, .g-table__body-wrapper.is-scrolling-right~.g-table__fixed-right {
    box-shadow: none;
}

