@import './variable.scss';
@import './badge/badge.scss';
@import './button/button.scss';
@import './checkbox/checkbox.scss';
@import './checkbox/checkbox-button.scss';
@import './form/form-item.scss';
@import './input/input.scss';
@import './pagination/pager.scss';
@import './pagination/pagination.scss';
@import './radio/radio.scss';
@import './radio/radio-button.scss';
@import './switch/switch.scss';
@import './tag/tag.scss';
@import './tooltip/tooltip.scss';
@import './select/select.scss';
@import './select/select-dropdown.scss';
@import './select/option-group.scss';
@import './select/option.scss';
@import './dialog/dialog.scss';
@import './table/table.scss';
@import './table/table-header.scss';
@import './table/table-body.scss';
@import './menu/menu.scss';
@import './alert/alert.scss';
@import './loading/loading.scss';
@import './tree/tree.scss';
@import './message/message.scss';
@import './messageBox/message-box.scss';
@import './tabs/tabs.scss';
@import './steps/steps.scss';
@import './slider/slider.scss';


.el-loading-parent--relative {
    position: relative;
}
.g-loading-parent--overflow {
    overflow: hidden;
}

div, p {
    margin: 0;
    padding: 0;
}